# Source file or directory to parse
source: ../Framework-Simple
# Directory where to save the generated documentation
destination: public_html/php_documention
# Don't generate documentation for classes from file or directory with this mask
exclude:
	- */Simpletest/*
	- */SettingsEnvironment.php
# Main project name prefix
main: Framework Simple
# Title of generated documentation
title: Framework Simple PHP Documentation
accessLevels : 'public,protected,private'
templateConfig: php_docs_template/config.neon